body {
    margin: 0;
    font-family: Arial, sans-serif;
    width: 400px;
    min-height: 300px;
}
#citizenx-app {
    padding: 16px;
    max-width: 384px;
    min-width: 300px;
    box-sizing: border-box;
}