/* src/components/AnnotationUI.css */

/* Container for the entire component */
.annotation-ui-container {
    display: flex;
    flex-direction: column;
    height: 100%; /* Ensure it takes the full height of the side panel */
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    position: relative;
    box-sizing: border-box;
}

.error-text {
    color: #e11d48;
    margin: 0.25rem 0 0 0;
    font-size: 0.8rem;
}

/* Wrapper for the annotation list to make it scrollable */
.annotation-list-wrapper {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 60px; /* Space for the fixed footer */
}