/* src/components/ProfileModal.css */
@import './styles/variables.css';
@import './styles/common.css';

/* Only keeping specific styles for profile modal */
.profile-modal-file-input {
    width: 100%;
    margin-bottom: var(--spacing-sm);
}

.profile-modal-preview {
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 50%;
    margin-bottom: var(--spacing-sm);
}
